@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
textarea,
button,
select,
label,
span,
a {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
}

.menu-area {
	display: none;
}

body {
	background: #423D51;
}

section,
footer {
	padding: 85px;
	height: 100vh;
	max-height: 1080px;
	padding-top: calc(55px + 15px);
}

.container {
	max-width: 1450px;
	margin: 0 auto;
}

.title,
.hight-title,
.low-title,
.middle-title {
	font-size: 30pt;
	font-weight: 500;
	letter-spacing: 1px;
}

.hight-title {
	font-size: 45pt;
}

.middle-title {
	font-size: 35pt;
}

.low-title {
	font-size: 25pt;
}

.little-title {
	font-size: 15pt;
}

.legend {
	font-size: 18pt;
	font-weight: 200;
	line-height: 1;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 55px;
	background: #272A3D;
}

.nav-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 1450px;
	padding: 0 85px;
}

#logo-and-menu {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#logo-and-menu img {
	height: 30px;
	cursor: pointer;
}

.nav-container ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

nav ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 24pt;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border: 1px solid #272A3D;
}

nav ul li:hover {
	border: 1px solid #777;
}

li a {
	padding: 10px;
	font-size: 12pt;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	white-space: nowrap;
}

li,
a {
	list-style: none;
	text-decoration: none;
}

#first-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.about-me-informations,
.profile-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.about-me-informations {
	gap: 15px;
	width: 95%;
}

.about-me-informations p {
	font-size: 14pt;
	font-weight: 300;
	text-align: justify;
}

.hire-me {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	padding: 10px;
	font-weight: 400;
	border-radius: 5px;
	background: #32a852;
	width: fit-content;
	transition: all 0.3s ease-in-out;
	height: 40px;
}

.hire-me img {
	height: 20px;
}

.hire-me:hover {
	background: #278b42;
}

.profile-box {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.profile-box picture {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.profile-image {
	width: 75%;
	transition: all 0.3s ease-in-out;
}

.profile-image:hover {
	width: 65%;
}

#second-section {
	display: flex;
	flex-direction: column;
	background: #211E29;
	width: 100%;
}

.skills-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	height: 100%;
	width: 100%;
}

.skills-box {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.dev-icons-area {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.dev-icon {
	height: 65px;
}

.illustration-skills {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.illustration-skills-image {
	width: 70%;
}

#third-section {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	text-align: center;
	padding: 30px 85px;
}

.experiencias {
	margin-top: calc(55px + 15px);
}

.experiences-container {
	display: flex;
	flex-direction: row;
	grid-gap: 15px;
	flex: 1;
}

.experiences-area-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.experience-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	max-height: 40px;
	border-radius: 5px;
	border: none;
	background: #272A3D;
	flex-grow: 1;
	padding: 0 0 0 10px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	justify-content: space-between;
	gap: 10px;
}

.icon-area-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	background: #1D2033;
}

.icon-area-button img {
	height: 20px;
}

.experience-button:hover {
	background: #202233;
}

.show-experiences {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 10px;
	width: 100%;
}

#experience-title,
.experience-details {
	display: flex;
	flex-direction: row;
	background: #272A3D;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
	font-size: 12pt;
	text-align: justify;
	font-weight: 400;
}

#experience-title {
	align-items: center;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
	align-items: center;
	height: 40px;
	max-height: 40px;
	flex-grow: 1;
}

.experience-details {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 25px;
	gap: 10px;
	justify-content: space-between;
}

#experience-time {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	font-weight: bold;
}

footer {
	width: 100%;
	background: #E2127A;
	height: 50vh;
}


.container-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	height: 100%;
}

.contacts-area {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0;
}

.contacts-buttons-area {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	gap: 10px;
	padding: 0 20px 0 0;
}

.contact-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	border-radius: 7px;
	overflow: hidden;
	color: #fff;
	cursor: pointer;
	background: #1D2033;
	transition: all 0.3s ease-in-out;
	width: 100%;
}

.contact-box:hover {
	background: #151725;
}

.contact-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px;
	height: 100%;
	width: 40px;
}

.contact-box img {
	height: 20px;
}

.contact-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	font-size: 11pt;
	font-weight: 400;
}

.footer-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 10px;
}

.footer-div h1 {
	line-height: 1.1;
	text-align: center;
}

.dev-icons-media-area {
	display: flex;
	flex-direction: row;
	gap: 25px;
	align-items: center;
}

.dev-icon-media {
	height: 45px;
	cursor: pointer;
}

.github-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.github-section img {
	height: 35px;
}

.github-section p {
	font-weight: 300;
	font-size: 16pt;
}

.github-name {
	color: #0ACBBF;
}

@media(max-width: 1034px) {

	.nav-container,
	section,
	footer {
		padding: 0 35px;
	}

	.hight-title {
		font-size: 35pt;
	}

	.middle-title {
		font-size: 25pt;
	}

	.low-title {
		font-size: 18pt;
	}

	.little-title {
		font-size: 16pt;
	}

	.about-me-informations p {
		font-size: 14pt;
		font-weight: 300;
	}

	.profile-image,
	.illustration-skills-image {
		width: 80%;
		transition: all 0.3s ease-in-out;
	}

	.experiences-container {
		grid-template-columns: 1fr 1fr;
		flex: none;
		min-height: 30vh;
	}
}

@media(max-width: 780px) {

	.hight-title,
	.middle-title {
		font-size: 25pt;
	}

	.low-title {
		font-size: 14pt;
	}

	.little-title {
		font-size: 12pt;
	}

	section {
		padding: 20px 0;
		min-height: max-content;
	}

	.nav-container {
		padding: 0 20px;
	}

	.nav-container ul {
		display: none;
		width: 100%;
	}

	.nav-container ul li {
		width: 100%;
		background: #303449;
		justify-content: center;
	}

	.menu-area {
		display: flex;
		cursor: pointer;
		padding: 7px;
		border-radius: 5px;
		margin-right: -14px;
	}

	.menu-area:hover {
		background: #191b27;
	}



	#first-section {
		display: flex;
		flex-direction: column;
		margin-top: calc(55px);
		padding: 0;
		height: max-content;
	}

	.profile-box {
		background: #1f2231;
		height: 25vh;
	}

	.profile-image {
		width: 250px;
		border-radius: 50%;
		border: 5px solid #fafafa;
		margin-bottom: -175px;
	}

	.profile-image:hover {
		width: 250px;
		max-width: 360px;
	}

	.about-me-informations {
		align-items: center;
		width: 100%;
		padding: 175px 20px 20px 20px;
	}

	.about-me-informations p {
		font-size: 12pt;
		font-weight: 300;
		text-align: justify;
	}

	.hire-me {
		width: 100%;
		justify-content: center;
		font-size: 14pt;
	}

	#second-section {
		height: max-content;
	}

	.skills-container {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		gap: 15px;
	}

	.skills-box {
		width: 100%;
		padding: 20px;
		align-items: center;
		text-align: center;
	}

	.dev-icons-area {
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	#third-section {
		height: max-content;
		min-height: 100vh;
		padding: 0 0 20px 0;
	}

	.experiences-container {
		display: flex;
		flex-direction: column-reverse;
		gap: 15px;
		padding: 0 20px;
	}

	footer {
		height: max-content;
		padding: 0;
	}

	.container-footer {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.footer-div {
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;
		padding: 20px;
	}

	.contacts-buttons-area {
		padding: 0;
	}
}