@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
textarea,
button,
select,
label,
a {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
}

body {
	background: #423D51;
}

section,
footer {
	padding: 85px;
	height: 100vh;
	max-height: 1080px;
	padding-top: calc(55px + 15px);
}

.container {
	max-width: 1450px;
	margin: 0 auto;
}

.title,
.hight-title,
.low-title,
.middle-title {
	font-size: 30pt;
	font-weight: 500;
	letter-spacing: 1px;
}

.hight-title {
	font-size: 45pt;
}

.middle-title {
	font-size: 35pt;
}

.low-title {
	font-size: 25pt;
}

.little-title {
	font-size: 15pt;
}

.legend {
	font-size: 18pt;
	font-weight: 200;
	line-height: 1;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 55px;
	background: #272A3D;
}

.nav-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 1450px;
	padding: 0 85px;
}

.nav-container img {
	height: 30px;
	cursor: pointer;
}

.nav-container ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

nav ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 24pt;
	padding: 5px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	border: 1px solid #272A3D;
}

nav ul li:hover {
	border: 1px solid #777;
}

li a {
	font-size: 12pt;
}

li,
a {
	list-style: none;
	text-decoration: none;
}

#first-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

#first-section div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.about-me-informations {
	gap: 15px;
	width: 95%;
}

.about-me-informations p {
	font-size: 16pt;
	font-weight: 300;
}

.hire-me {
	margin-top: 15px;
	display: flex;
	padding: 10px;
	font-weight: 400;
	border-radius: 5px;
	background: #169895;
	width: fit-content;
	transition: all 0.3s ease-in-out;
}

.hire-me:hover {
	background: #118684;
}

.profile-box {
	width: 100%;
	align-items: center;
	justify-content: center;
}

.profile-image {
	width: 60%;
	transition: all 0.3s ease-in-out;
}

.profile-image:hover {
	width: 65%;
}

#second-section {
	display: flex;
	flex-direction: column;
	background: #211E29;
	width: 100%;
}

.skills-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	height: 100%;
	width: 100%;
}

.skills-box {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.dev-icons-area {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.dev-icon {
	height: 65px;
}

.illustration-skills {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.illustration-skills-image {
	width: 60%;
}

#third-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	text-align: center;
	padding-top: 85px;
	padding-bottom: 85px;
}

.experiences-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 15px;
	flex: 1;
}

.experiences-area-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.experience-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	max-height: 40px;
	border-radius: 5px;
	border: none;
	background: #272A3D;
	flex-grow: 1;
	padding: 0 0 0 10px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	justify-content: space-between;
	gap: 10px;
}

.icon-area-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	background: #1D2033;
}

.icon-area-button img {
	height: 20px;
}

.experience-button:hover {
	background: #202233;
}

.show-experiences {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	gap: 10px;
}

.experience-title-area,
.experience-details {
	display: flex;
	flex-direction: row;
	background: #272A3D;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
}

.experience-title-area {
	align-items: center;
	height: 40px;
	max-height: 40px;
	flex-grow: 1;
}

.experience-details {
	flex: 1;
}

footer {
	width: 100%;
	background: #E2127A;
	height: 40vh;
	max-height: 600px;
}


.container-footer {
	padding: 0 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	height: 100%;
}

.footer-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	gap: 10px;
}

.footer-div h1 {
	line-height: 1.1;
}

.dev-icons-media-area {
	display: flex;
	flex-direction: row;
	gap: 25px;
	align-items: center;
}

.dev-icon-media {
	height: 45px;
	cursor: pointer;
}

.github-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.github-section img {
	height: 35px;
}

.github-section p {
	font-weight: 300;
	font-size: 16pt;
}

.github-name {
	color: #0ACBBF;
}

@media(max-width: 1034px) {

	.nav-container,
	section,
	footer {
		padding: 0 35px;
	}

	.hight-title {
		font-size: 35pt;
	}

	.middle-title {
		font-size: 25pt;
	}

	.low-title {
		font-size: 18pt;
	}

	.little-title {
		font-size: 16pt;
	}

	.about-me-informations p {
		font-size: 14pt;
		font-weight: 300;
	}

	.profile-image,
	.illustration-skills-image {
		width: 80%;
		transition: all 0.3s ease-in-out;
	}

	.experiences-container {
		grid-template-columns: 2fr 3fr;
	}
}

@media(max-width: 780px) {
	.nav-container ul {
		display: none;
	}
}